.about-container {
    position: relative;
  margin: 117px 100px;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  gap: 132px;
}

.about-content__left img {
  border-radius: 0 0 0 500px;
}
.about-title {
    margin-bottom: 99px;
}
.about-title p {
    /* font-family: Space Grotesk; */
    font-size: 20px;
    font-weight: 400;
    /* line-height: 24px; */
    text-align: left;
}
.about-title h4 {
    text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
}
.about-statistic {
    position: absolute;
    right: 0;
}
.about-statistic-numbers {
  display: flex;
  background: linear-gradient(108.68deg, #c478bf 6.95%, #984994 66.58%);
}
.about-statistic-number_item {
  padding: 20px 93px;
  margin: 58px 0;
  color: #000;
  border-right: 1px solid rgba(0, 0, 0, 1);
}
.about-statistic-number_item h4 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
}
.about-statistic-number_item p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.about-white {
  color: #fff;
}
.about-subtitle {
    position: absolute;
    bottom: 0;
}
.about-subtitle-list {
    
    display: flex;
}
.about-detail {
    display: flex;
}